* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

body {
  text-align: center;
  background-color: gainsboro;
}
.list {
  width: 400px;
  margin: auto;
  background-color: cornsilk;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.header {
  height: 48px;
  font-size: 24px;
  color: white;
  background: rgb(172, 172, 184);
  background: linear-gradient(
    90deg,
    rgba(172, 172, 184, 1) 0%,
    rgba(19, 62, 102, 1) 88%
  );
  border-radius: 20px 20px 0 0;
  padding: 5px 0;
}

.items {
  height: 500px;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
}

.item__delete {
  font-size: 16px;
  transition: transform 200ms ease-in;
}

.item__delete:hover {
  color: red;
  transform: scale(1.1);
}

.item__divider {
  width: 90%;
  height: 1px;
  background-color: lightgray;
  margin: auto;
}

.footer {
  border-radius: 0 0 20px 20px;
  background: rgb(172, 172, 184);
  background: linear-gradient(
    90deg,
    rgba(172, 172, 184, 1) 0%,
    rgba(19, 62, 102, 1) 88%
  );
}

.footer__input {
  width: 100%;
  height: 35px;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 0 16px;
}

.footer__button {
  height: 48px;
  width: 48px;
  background-color: white;
  border-radius: 50%;
  font-size: 30px;
  transition: transform 200ms ease-in;
}

.footer__button:hover {
  transform: scale(1.1);
}
